ESB/ESB/Web References/WebSRepartidor/WSRepartidor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSRepartidor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56887/WSRepartidor.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56887/WSRepartidor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56887/WSRepartidor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSRepartidor_ObtenerEstadoRep_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadoRep" />
  </wsdl:message>
  <wsdl:message name="IWSRepartidor_ObtenerEstadoRep_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadoRepResponse" />
  </wsdl:message>
  <wsdl:message name="IWSRepartidor_EnviarOrden_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarOrden" />
  </wsdl:message>
  <wsdl:message name="IWSRepartidor_EnviarOrden_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarOrdenResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSRepartidor">
    <wsdl:operation name="ObtenerEstadoRep">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSRepartidor/ObtenerEstadoRep" message="tns:IWSRepartidor_ObtenerEstadoRep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSRepartidor/ObtenerEstadoRepResponse" message="tns:IWSRepartidor_ObtenerEstadoRep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarOrden">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSRepartidor/EnviarOrden" message="tns:IWSRepartidor_EnviarOrden_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSRepartidor/EnviarOrdenResponse" message="tns:IWSRepartidor_EnviarOrden_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSRepartidor" type="tns:IWSRepartidor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerEstadoRep">
      <soap:operation soapAction="http://tempuri.org/IWSRepartidor/ObtenerEstadoRep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarOrden">
      <soap:operation soapAction="http://tempuri.org/IWSRepartidor/EnviarOrden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSRepartidor">
    <wsdl:port name="BasicHttpBinding_IWSRepartidor" binding="tns:BasicHttpBinding_IWSRepartidor">
      <soap:address location="http://localhost:56887/WSRepartidor.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>