WebService3/WindowsFormsApp1/Connected Services/WSEsb/ESB2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51323/ESB.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ESB" />
  <xs:element name="ObtenerEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NoOrden" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ESB" minOccurs="0" name="ObtenerEstadoResult" nillable="true" type="q1:Orden" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearOrden">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearOrdenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearOrdenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadoRep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NoOrden" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadoRepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ESB" minOccurs="0" name="ObtenerEstadoRepResult" nillable="true" type="q2:Orden" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarOrden">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NoOrden" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarOrdenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarOrdenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadoCli">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NoOrden" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadoCliResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ESB" minOccurs="0" name="ObtenerEstadoCliResult" nillable="true" type="q3:Orden" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NoOrden" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CambiarEstadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>