WebService01/Cliente/Connected Services/WSRepartidor/WSRepartidor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56887/WSRepartidor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService2" />
  <xs:element name="RecogerOrden">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecogerOrdenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecogerOrdenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NoOrden" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebService2" minOccurs="0" name="ObtenerEstadoResult" nillable="true" type="q1:Orden" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>