WebService01/Cliente/Connected Services/WSEsb/ESB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ESB" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51323/ESB.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51323/ESB.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51323/ESB.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ESB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IESB_ObtenerEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstado" />
  </wsdl:message>
  <wsdl:message name="IESB_ObtenerEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="IESB_CrearOrden_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearOrden" />
  </wsdl:message>
  <wsdl:message name="IESB_CrearOrden_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearOrdenResponse" />
  </wsdl:message>
  <wsdl:message name="IESB_ObtenerEstadoRep_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadoRep" />
  </wsdl:message>
  <wsdl:message name="IESB_ObtenerEstadoRep_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadoRepResponse" />
  </wsdl:message>
  <wsdl:message name="IESB_EnviarOrden_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarOrden" />
  </wsdl:message>
  <wsdl:message name="IESB_EnviarOrden_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarOrdenResponse" />
  </wsdl:message>
  <wsdl:message name="IESB_ObtenerEstadoCli_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadoCli" />
  </wsdl:message>
  <wsdl:message name="IESB_ObtenerEstadoCli_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadoCliResponse" />
  </wsdl:message>
  <wsdl:message name="IESB_CambiarEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarEstado" />
  </wsdl:message>
  <wsdl:message name="IESB_CambiarEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarEstadoResponse" />
  </wsdl:message>
  <wsdl:portType name="IESB">
    <wsdl:operation name="ObtenerEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/IESB/ObtenerEstado" message="tns:IESB_ObtenerEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IESB/ObtenerEstadoResponse" message="tns:IESB_ObtenerEstado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearOrden">
      <wsdl:input wsaw:Action="http://tempuri.org/IESB/CrearOrden" message="tns:IESB_CrearOrden_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IESB/CrearOrdenResponse" message="tns:IESB_CrearOrden_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstadoRep">
      <wsdl:input wsaw:Action="http://tempuri.org/IESB/ObtenerEstadoRep" message="tns:IESB_ObtenerEstadoRep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IESB/ObtenerEstadoRepResponse" message="tns:IESB_ObtenerEstadoRep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarOrden">
      <wsdl:input wsaw:Action="http://tempuri.org/IESB/EnviarOrden" message="tns:IESB_EnviarOrden_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IESB/EnviarOrdenResponse" message="tns:IESB_EnviarOrden_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstadoCli">
      <wsdl:input wsaw:Action="http://tempuri.org/IESB/ObtenerEstadoCli" message="tns:IESB_ObtenerEstadoCli_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IESB/ObtenerEstadoCliResponse" message="tns:IESB_ObtenerEstadoCli_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/IESB/CambiarEstado" message="tns:IESB_CambiarEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IESB/CambiarEstadoResponse" message="tns:IESB_CambiarEstado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IESB" type="tns:IESB">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerEstado">
      <soap:operation soapAction="http://tempuri.org/IESB/ObtenerEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearOrden">
      <soap:operation soapAction="http://tempuri.org/IESB/CrearOrden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstadoRep">
      <soap:operation soapAction="http://tempuri.org/IESB/ObtenerEstadoRep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarOrden">
      <soap:operation soapAction="http://tempuri.org/IESB/EnviarOrden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstadoCli">
      <soap:operation soapAction="http://tempuri.org/IESB/ObtenerEstadoCli" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarEstado">
      <soap:operation soapAction="http://tempuri.org/IESB/CambiarEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ESB">
    <wsdl:port name="BasicHttpBinding_IESB" binding="tns:BasicHttpBinding_IESB">
      <soap:address location="http://localhost:51323/ESB.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>