ESB/ESB/Web References/WebServlast/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57691/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService3" />
  <xs:element name="ObtenerEstadoCli">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NoOrden" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadoCliResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebService3" minOccurs="0" name="ObtenerEstadoCliResult" nillable="true" type="q1:Orden" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NoOrden" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CambiarEstadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>