ESB/ESB/Web References/WebServRestaurante/WSRestaurante.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSRestaurante" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50939/WSRestaurante.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50939/WSRestaurante.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50939/WSRestaurante.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSRestaurante_ObtenerEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstado" />
  </wsdl:message>
  <wsdl:message name="IWSRestaurante_ObtenerEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="IWSRestaurante_CrearOrden_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearOrden" />
  </wsdl:message>
  <wsdl:message name="IWSRestaurante_CrearOrden_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearOrdenResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSRestaurante">
    <wsdl:operation name="ObtenerEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSRestaurante/ObtenerEstado" message="tns:IWSRestaurante_ObtenerEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSRestaurante/ObtenerEstadoResponse" message="tns:IWSRestaurante_ObtenerEstado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearOrden">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSRestaurante/CrearOrden" message="tns:IWSRestaurante_CrearOrden_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSRestaurante/CrearOrdenResponse" message="tns:IWSRestaurante_CrearOrden_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSRestaurante" type="tns:IWSRestaurante">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerEstado">
      <soap:operation soapAction="http://tempuri.org/IWSRestaurante/ObtenerEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearOrden">
      <soap:operation soapAction="http://tempuri.org/IWSRestaurante/CrearOrden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSRestaurante">
    <wsdl:port name="BasicHttpBinding_IWSRestaurante" binding="tns:BasicHttpBinding_IWSRestaurante">
      <soap:address location="http://localhost:50939/WSRestaurante.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>